
.features-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

@media screen and (max-width:500px){
    .app-title{
        font-size: 20px;
    }
    .tagline-heighlight{
        display: block;
    }
  .buttons-container{
    background-color:#fff ;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}