body {
background-color:#FFF7F1;
margin:0;
padding:20px 50px;
}
.text-center{
text-align: center;

}
.text-primary{
    color:#E78895;
}
.text-secondary {
    color:#BED1CF;
}
.text-grey{
    color:grey;
}
.text-black{
   color:#000000; 
}
.text-white{
  color:  #ffffff;
}
.highlight{
    background-color:#FFE4C9;
}
.buttons-container{
    display: flex;
    justify-content: center;

}
.btn{
   
   margin:20px 20px;
   min-width:120px ;
   padding:10px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;

}
.btn-primary{
 background-color: #E78895;
 color:white;  
}
.btn-secondary{
    background-color: #BED1CF;
}


@media screen and (max-width:500px){
    .btn{
   
        margin:10px;
        min-width:100px ;
        padding:5px;
        
}
body {

    padding:5px 10px;
    }
}