body {
background-color:#FFF7F1;
margin:0;
padding:20px 50px;
}
.text-center{
text-align: center;

}
.text-primary{
    color:#E78895;
}
.text-secondary {
    color:#BED1CF;
}
.text-grey{
    color:grey;
}
.text-black{
   color:#000000; 
}
.text-white{
  color:  #ffffff;
}
.highlight{
    background-color:#FFE4C9;
}